extends layout

block content
    h1 Profile

    ul.list-group
        li.list-group-item
            strong Display name:
            span #{user.displayName}
    ul.list-group
        li.list-group-item
            strong Email:
            span #{user.email}
    ul.list-group
        li.list-group-item
            strong profile:
            pre #{user.profile}

    a.btn.btn-default(href="/logout") Logout